html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0     
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#login {
    height: 100%;
}
#logoArea {
    margin-top: 10%;
    text-align: center;
}
#inputArea {
    vertical-align: middle;
    padding: 30px;
    /*margin-top: 30%;*/
    /*margin:-100px 0 0 -150px */
}
#sign-up-content {
    margin-top: 10%;
}
#login-content {
    margin-top: 10%;
}

#modelInterface {
}

.panel {
    height: 87%;
    overflow-x: auto; 
    overflow-y: auto;
    border-radius: 0px;
    margin-bottom: 0px;
    border-color: #e0e0e0;
}

.panel-body {
    padding-top: 0px;
    padding-left: 1px;
    padding-right: 1px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-color: #e0e0e0;
}
.modal {
    /*margin-top: 100px;*/
}
/*.btn-group > .btn-group:first-child > .btn:last-child,*/
/*.btn-group > .btn-group:first-child > .dropdown-toggle,*/
/*.btn-group > .btn-group:last-child > .btn:last-child,*/
/*.btn-group > .btn-group:last-child > .dropdown-toggle  {*/
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/

/*.btn-default {*/
    /*border-color: #fff;*/
    /*background-image: none;*/
/*}*/

/*.glyphicon {*/
    /*line-height: inherit;*/
    /*color: #ffffff;*/
/*}*/

#paper {
    overflow: auto;
    overflow: auto;
    height: 50%;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    background-color: #ecf0f1;
}

#text {
    overflow: auto;
    overflow: auto;
    height: 50%;
    border: 1px solid transparent;
    border-color: #e0e0e0;      
}

#console, #message, #analysis {
    overflow: auto;
    overflow: auto;
    height: 25%;
    border: 1px solid transparent;
    border-color: #e0e0e0;
}
